
*.lib
.env
.parcel-cache
.hypothesis/
.temp
.node_repl_history
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
!.pixi/config.toml
.eslintcache
*.bak
local_settings.py
marimo/_lsp/
*.mo
*.su
*.dSYM/
npm-debug.log*
tempCodeRunnerFile.py
node_modules/
.vuepress/dist
htmlcov/
Makefile
jspm_packages/
*.la
!.yarn/patches
.nox/
lib/
*.tgz
.webassets-cache
compile_commands.json
*.app
venv/
*.smod
lib64/
*.d
coverage.xml
CMakeCache.txt
.abstra/
.venv
*.gch
profile_default/
.mypy_cache/
develop-eggs/
modules.order
.vite/
.ropeproject
pip-delete-this-directory.txt
coverage
.pybuilder/
venv.bak/
.svelte-kit/
.pnp.*
!.yarn/releases
__marimo__/
.tox/
*.egg
*.rdb
downloads/
.cache/
*.pid
.installed.cfg
*.dll
yarn-debug.log*
vite.config.ts.timestamp-*
.nuxt
*.lai
dist/
.dynamodb/
out
*.o
CMakeFiles/
.pdm-python
bower_components
*.ilk
*.log
vite.config.js.timestamp-*
__pycache__/
*.py[codz]
env.bak/
.tern-port
*.cover
*.pdb
celerybeat-schedule*
build/Release
*.idb
install_manifest.txt
.spyproject
*.so.*
*.manifest
.spyderproject
db.sqlite3
*.tsbuildinfo
activemq-data/
var/
pids
*.seed
.dmypy.json
vcpkg_installed/
.fusebox/
.envrc
rabbitmq/
.vscode-test
*.so
share/python-wheels/
*.tmp
*.map
.cache
.output
.lock-wscript
celerybeat.pid
Mkfile.old
*.dwo
mnesia/
.streamlit/secrets.toml
.env.*
nosetests.xml
marimo/_static/
yarn-error.log*
*.pot
!.env.example
__pypackages__/
*$py.class
logs
*.sage.py
cover/
*.lo
**/.vitepress/cache
db.sqlite3-journal
.ipynb_checkpoints
*.obj
.eggs/
pip-log.txt
sdist/
*.exp
*.cmd
.stylelintcache
.serverless/
.pdm-build/
rabbitmq-data/
*.slo
*.ko
.Python
*.exe
*.py.cover
cython_debug/
Build/
.pytest_cache/
!.yarn/sdks
*.spec
*.hex
eggs/
.pixi/*
.pypirc
*.aof
.npm
.grunt
dist
*.out
*.pid.lock
*.i*86
*.x86_64
*.swp
parts/
.coverage
cmake_install.cmake
*.a
ENV/
.pytype/
*.elf
*.egg-info/
*.mod*
MANIFEST
*.mod
**/.vitepress/dist
Testing/
.ruff_cache/
dmypy.json
build/
ipython_config.py
instance/
.pyre/
Module.symvers
*.lcov
target/
.pnpm-store
.nyc_output
/site
web_modules/
!.yarn/plugins
.yarn-integrity
.firebase/
.yarn/*
build-*/
.docusaurus
*.pch
.scrapy
.tmp_versions/
lerna-debug.log*
docs/_build/
env/
.next
.coverage.*
!.yarn/versions
dkms.conf
lib-cov
wheels/
*.dylib
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,php,c,c++,cmake,gitbook` for https://github.com/Sarverott/cheers-protocol.git with  [UNIXUSAT=1782704816102]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
